@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.header {
  padding: 0 20px;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

h1.header-title {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: 7px;
  margin-right: 7px;
}

.title-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button,
.share-button,
.back-button,
.print-button {
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  color: #292929;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#spacer {
  width: 100%;
  background-color: white;
}

.share-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.input-box {
  width: 100%;
  height: 30px;
  margin: 0 10px;
  padding: 2px 8px;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
}

.message {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.success-message {
    background-color: #28a745;
    color: white;
}

.error-message {
    background-color: #dc3545;
    color: white;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.4);
}

.input-field {
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.circle-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.svg-button-icon {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  margin: 15px;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.control-group {
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}